<%- include("header") -%>
<link rel="stylesheet" href="./css/style.css">
    <div class="login-container">
        <div class="login-popup">
            <h2>Login</h2>
            <form action="">
                <input type="text" placeholder="Username" required>
                <input type="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
    <%- include("footer") -%>